ul {
    list-style-type: square;
  }
.circle{
    list-style-type: circle;
}
.abc{
    list-style-type: lower-latin;
}
header{
    display: inline;
    text-align: center;
    
}
body{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    font-size: 120%;
}

